.sidebar-contenedor{
    width: 20%;
    height:100vh;
    background-color: #2f3133;
    padding:10px;
}

.sidebar-contenedor h2{
    margin-top: 30%;
    background-color: #2f3133;
    border: 0px;
    text-align: center;
}

.opciones {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.opciones a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}

<<<<<<< HEAD
.font_color{
    background-color: #E6260C;
}


.botonsb:hover {
    color: #211f1f;
    background-color: #efe8e7;
    cursor: pointer;
}

#botonsb:onclick {
    display: none;

}
=======
.botones{
    background-color: #e6260c;
    margin: 3px;
    border:0;    
}
.botones:focus,
.botones_active{
    border: 0;
}

.botones:hover{
    transform: scale(0.99);
    background-color: #2f3133;
    border-bottom: 1px solid #e6260c;
    border-radius: 0;
 
}
>>>>>>> c7d792ccbe6f353a96b296a34f13a2bf667569a6
