.tarjetas {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FAF9F0;
}

.tarjeta {
   margin: 0.8vw;
   border-radius: 1%;
   box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
   min-width: 280px;
   max-width: 18vw;
   background-color: #E9E0B4;
   position: relative;
   padding-bottom: 8vh;
}

.tarjeta img {
    width: 100%;
}

.tarjetaContenido {
    padding: 1.5vh;
}

.tarjetaTitulo {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1vw;
}

.tarjetaDescripcion {
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.01vw;
}

.tarjetaPie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
    font-size: 0.8rem;
    position: absolute;
    bottom: 10px;
    width: 90%;
}

.tarjetaPieOferta {
    font-weight: 700;
    text-align: center;
    text-wrap: wrap;
    height: 0.1vw;
}

.tarjetaPieBoton {
    text-decoration: none;
    text-align: center;
    background-color: #E6260C;
    color: white;
    width: fit-content;
    padding: 0.5rem;
    box-shadow: 3px 3px 8px black;
}


