.tarjetas {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FAF9F0;
}

.tarjeta {
    margin: 0.8vw;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    min-width: 280px;
    max-width: 18vw;
    background-color: #E9E0B4;
    position: relative;
    padding-bottom: 8vh;
}

.tarjeta:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
    min-width: 280px;
    max-width: 18vw;
    background-color: #E9E0B4;
    position: relative;
    padding-bottom: 8vh;
    cursor: pointer;
}

.tarjeta img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.tarjetaImageContainer {
    position: relative;
    height: 60%;
}

.tarjetafavoriteIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 30px;
    min-height: 30px;
}

.tarjetafavoriteIcon img {
    width: 50%;
    height: 50%;
}

.tarjetafavoriteIcon:hover {
    width: 2.5vw;
    height: 2.5vw;
    transition: width 0.3s ease, height 0.3s ease;
}

.tarjetaPrecioDia,
.tarjetaEstado {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    border-radius: 10px;
    position: absolute;
    padding: 5px 15px;
}

.tarjetaPrecioDia {
    background-color: rgba(255, 255, 255, 0.60);
    top: 10px;
    left: 10px;
    min-width: 30px;
    min-height: 30px;
}

.tarjetaEstado {
    background-color: rgba(68, 68, 68, 0.6);
    color: white;
    bottom: 10px;
    right: 10px;
    min-width: 30px;
    min-height: 30px;
}

.tarjetaContenido {
    padding: 1.5vh;
}

.tarjetaTitulo {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1vw;
}

.tarjetaDescripcion {
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.01vw;
}

.tarjetaPie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
    font-size: 0.8rem;
    position: absolute;
    bottom: 10px;
    width: 90%;
}

.tarjetaPieOferta {
    font-weight: 700;
    text-align: center;
    text-wrap: wrap;
    height: 0.1vw;
}

.tarjetaPieBoton {
    text-decoration: none;
    text-align: center;
    background-color: #E6260C;
    color: white;
    width: fit-content;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.tarjetaPieBoton:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
}

.tarjetaInfoIcons {
    display: flex;
    padding: 10px;
    align-items: center;
    width: fit-content;
}

.tarjetaInfoIcons img {
    width: 1vw;
    margin: 5px;
}